{% extends 'base.html' %}
{% block title %}
    天天生鲜-商品详情
{% endblock %}

{% block body %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">

                    {# 显示类别 #}
                    {% for category in categories %}
                        <li><a href="{% url 'goods:list' category.id 1 %}?sort=default"
                               class="{{ category.logo }}">{{ category.name }}</a></li>
                    {% endfor %}


                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="{% url 'goods:list' sku.category.id 1 %}?sort=default">{{ sku.category.name }}</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl">
            <img width="300px" height="300px"
                 src="{{ sku.default_image.url }}"></div>

        <div class="goods_detail_list fr">
            <h3>{{ sku.name }}</h3>
            <p>{{ sku.title }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ sku.price }}</em></span>
                <span class="show_unit">单  位：{{ sku.unit }}</span>
                <span class="show_unit">库  存：{{ sku.stock }}</span>
            </div>

            {# 显示其它规格的商品 #}
            {% if other_skus %}
                <div>
                    <p>其他规格的商品：</p>
                    <ul>
                        {% for sku in other_skus %}
                            <a href="{% url 'goods:detail'  sku.id %}">
                                <li>{{ sku.name }}</li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}


            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：<em>16.80元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                <a href="javascript:;" class="add_cart"
                   id="add_cart" sku_id="{{ sku.id }}">加入购物车</a>

            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">

                <h3>新品推荐</h3>
                <ul>

                    {% for new_sku in new_skus %}
                        <li>
                            <a href="{% url 'goods:detail' new_sku.id %}">
                                <img src="{{ new_sku.default_image.url }}"></a>
                            <h4><a href="{% url 'goods:detail' new_sku.id %}">{{ new_sku.name }}</a></h4>
                            <div class="prize">￥{{ new_sku.price }}</div>
                        </li>
                    {% endfor %}

                </ul>


            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>

            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>{{ sku.spu.desc|safe }}</dd>
                </dl>
            </div>

        </div>
    </div>
{% endblock %}


{% block bottom_js %}

    {% load staticfiles %}
    {% csrf_token %}

    <div class="add_jump"></div>

    <script type="text/javascript" src="{% static 'js/jquery-1.12.2.js' %}"></script>
    <script type="text/javascript">

        update_goods_info();

        // todo: 更新商品总金额
        function update_goods_info() {
            // 获取商品数量和单价
            var count = $('.num_show').val();
            var price = $('.show_pirze').children('em').text();
            // 转换类型
            count = parseInt(count);
            price = parseFloat(price);
            // 显示总金额  toFixed: 保存两位小数点
            var amount = count * price;
            $('.total').children('em').html(amount.toFixed(2)+'元')
        }

        // todo: 点击加号新增商品数量
        $('.add').click(function () {
            // 获取当前商品数量
            var count = $('.num_show').val();
            count = parseInt(count);
            // 数量加1
            count += 1;
            // 更新数量显示
            $('.num_show').val(count);
            update_goods_info();
        });

        // todo: 点击减号新增商品数量
        $('.minus').click(function () {
            // 获取当前商品数量
            var count = $('.num_show').val();
            count = parseInt(count);
            if (count > 1) {
                count -= 1;
                // 更新数量显示
                $('.num_show').val(count);
                update_goods_info();
            }
        });

        // todo: 手动输入增商品数量
        // blur: 监听失去焦点事件
        $('.num_show').blur(function () {
            // 获取当前商品数量
            var count = $('.num_show').val();
            // 判断输入内容的合法性   不是数字 || 空字符串 || 小于1
            if (isNaN(count) || count.trim().length == 0 || parseInt(count) < 1) {
                // 数量重置为1
                count = 1;
            }
            // 显示数量
            $('.num_show').val(parseInt(count));
            update_goods_info();
        });

        // 动画起始位置
        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;

        // 动画终止位置
        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        // todo: 添加商品到购物车
        $('.add_cart').click(function () {

            // 设置div的起始位置
            $(".add_jump").css({
                'left': $add_y + 80,
                'top': $add_x + 10,
                'display': 'block'});

            // 获取商品数量和商品id
            var count = $('.num_show').val();
            var sku_id = $(this).attr('sku_id');
            var csrf = $('input[name="csrfmiddlewaretoken"]').val();
            // alert(count  +  "    "  + sku_id);

            // 定义post请求参数(js对象)
            var params = {
                sku_id: sku_id,
                count: count,
                csrfmiddlewaretoken: csrf
            };

            // 通过ajax发起post请求
            // 参数1： 请求url路径
            $.post('/cart/add', params, function (data) {
                // data: 返回的请求结果
                // {'code': 0, 'total_count': 4}
                // {'code': 4, 'errmsg': '库存不足'}
                if (data.code == 0) {
                    // 请求成功, 执行移动的动画效果
                    $(".add_jump").stop().animate({
                            'left': $to_y + 7,
                            'top': $to_x + 7
                        }, "fast", function () {
                            $(".add_jump").fadeOut('fast', function () {

                                // 移动动画执行完后，显示商品总数量
                                var total_count = data.total_count;
                                // 显示商品总数量
                                $('#show_count').html(total_count);
                            });
                        });
                } else {
                    // 请求失败（添加商品到购物车失败）
                    alert(data.errmsg)
                }
            })
        });

    </script>

{% endblock %}